<center><h2>Hello, <%= current_user.email %></h2>

<p>How would you like to view your plans?</p>

<p><%= link_to "Sorted By Restaurant", user_restaurants_path(current_user), class: 'btn btn-primary' %>
  <%= link_to "Sorted By Menu Item", user_foods_path(current_user), class: 'btn btn-primary' %></p>
</center>
