<h2>Planned Restaurants in The Bronx</h2>
<ul>
  <% if @bronx.present? %>
    <% @bronx.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants in The Bronx to try.
  <% end %>
</ul>
