<h2>Planned Restaurants in Brooklyn</h2>
<ul>
  <% if @brooklyn.present? %>
    <% @brooklyn.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants in Brooklyn to try.
  <% end %>
</ul>
