<h2>Planned Restaurants in Manhattan</h2>
<ul>
  <% if @manhattan.present? %>
    <% @manhattan.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants in Manhattan to try.
  <% end %>
</ul>
