<h2>Planned Restaurants Outside NYC</h2>
<ul>
  <% if @outsidenyc.present? %>
    <% @outsidenyc.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants outside NYC to try.
  <% end %>
</ul>
