<h2>Planned Restaurants in Queens</h2>
<ul>
  <% if @queens.present? %>
    <% @queens.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants in Queens to try.
  <% end %>
</ul>
