<h2>Planned Restaurants in Staten Island</h2>
<ul>
  <% if @statenisland.present? %>
    <% @statenisland.each do |restaurant| %>
      <%= render 'borough_restaurants', restaurant: restaurant %>
    <% end %>
  <% else %>
    You do not have any planned restaurants in Staten Island to try.
  <% end %>
</ul>
