<h2>Planned Menu Items $10 and Under</h2>
<ul>
  <% if @under_ten.present? %>
    <% @under_ten.each do |ut| %>
      <li><b><%= link_to ut.name, user_food_path(current_user, ut) %></b><br>
      <% ut.restaurants.each do |restaurant| %>
        <% if RestaurantFood.find_by(restaurant_id: restaurant.id, food_id: ut.id).price <= 10 %>
          <%= link_to restaurant.name, user_restaurant_path(current_user, restaurant) %> <%= number_to_currency(RestaurantFood.find_by(restaurant_id: restaurant.id, food_id: ut.id).price) %><br> </li>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% else %>
    You do not have any planned menu items under $10 to try.
  <% end %>
</ul>
